.game{
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    display: grid;
    grid-template-columns: 320px repeat(15, 1fr);
    grid-template-rows: repeat(32, 1fr);

    margin: 0;

}

.game .nav{

    grid-column: 1;
    grid-row: 1 / span 32;
    
    border-right: 1px solid silver;

    display: flex;
    flex-direction: column;

    .profileInfo{

        margin-top: 50px;

        grid-column: 1;
        width: 100%;

        display: flex;
        flex-direction: column;

        align-items: center;

        .profileImage {
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            padding: 5px;
        }

        .name{
            font-weight: bold;
        }

        .level{
            color: rgb(64, 64, 255);
            margin-bottom: 0;
        }
        .level-progress{
            margin:0 auto;
            width: 90%;
            height: 1.1rem;
            background-color: rgb(196, 196, 255);

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .xp{
                grid-column: 1;
                grid-row: 1;
                z-index: 0;
                height: 1.1rem;
                background-color: rgb(128, 128, 255);
            }

            .text{
                grid-column: 1;
                grid-row: 1;
                z-index: 1;
                margin: 0;
                width: 100%;
                height: 100%;
                font-size: 90%;
                text-align: center;
            }

        }
    }

    .currency{

        margin-top: 30px;
        display: grid;
        grid-template-rows: repeat(1fr, 3);
        gap: 10px;

        width: 90%;

        align-self: center;

        .money{grid-row: 1;}
        .gem{grid-row: 2;}
        .sgem{grid-row: 3;}

        .money, .gem, .sgem{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;

            align-items: center;

            .currencyImg{
                --size: 32px;
                width: var(--size);
                height: var(--size);
            }

            .value{
                width: 100%;
                text-align: left;
                margin:0 6% 0 6%;
            }
        }
    }   
}

.game{
    .logout{

        grid-column: 1;
        grid-row: 32;

        min-height: 45px;

        text-align: center;

        cursor: pointer;

        border: none;

        color: white;
        background-color: rgba(255, 0, 0, 0.9);

        transition: background-color 0.25s ease-in-out;
    }

    .logout:hover{
        background-color: rgba(255, 0, 0, 1);
    }
}

.game{
    .gameLogo{

        grid-column: 3 / span 13;
        grid-row: 2 / span 6;

        display: flex;
        justify-content: center;
        
        .logo{
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

    }

    .gameNav{
        grid-column: 3 / span 13;
        grid-row: 8 / span 3;

        min-width: 620px;
        min-height: 40px;

        /* border: 1px solid black; */
        border-bottom: 2px solid darkgray;

        display: flex;
        flex-wrap: nowrap;

        align-items: center;
        justify-content: space-evenly;

        .item{
            text-decoration: none;
            color: rgb(96, 96, 96);
            min-width: 120px;
            text-align: center;
            cursor: pointer;

            padding-bottom: 3px;
            border-bottom: 2px solid transparent;

            transition: border-bottom 0.4s ease-in-out;
        }

        .item:hover{
            border-bottom: 2px solid rgb(64, 64, 64);
        }
    }

    .gameArea{
        grid-column: 3 / span 13;
        grid-row: 11 / span 20;

        display:flex;

        #gameFrame{
            width: 100%;
            height: 100%;
            border: none;
        }
        /* border: 1px solid black; */
    }

    /* .gameNav, .gameArea{background-color: rgba(0, 0, 0, 0.5);} */
}