@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
body {
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}

*:root {
    font-size: 19px;
}

/* MOBILE SUPPORT */
@media (max-width: 1024px){
    *:root{
        font-size: 16px;
    }
}

@media (max-width: 768px), (orientation: portrait){
    *:root{
        font-size: 14px;
    }

}

@media (max-width: 640px) {
    *:root{
        font-size: 12px;
    }
}